.blog-tile{
    border: 1px solid #ebebeb; 
    border-radius: 10px;
    width: 60%;
    /* cursor: pointer; */
}
.title{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
}
.author{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    color: #525252;
}

.date{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    color: #747474;
}

.content{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 13px;
    color: #000000;
}

.read-more{
    color: #004094;
    cursor: pointer;
    font-weight: 500;
}